.widget-value {
  height: 95%;
  width: 99%;

  .card {
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;

    &.horizontal {
      margin: 0px;
    }

    .card-stacked {
      height: 100%;
      width: 100%;

      .card-content {
        font-size: 3em;
        font-weight: 700;
        z-index: 1;
        flex-direction: column;

        .value {
          width: 100%;
        }

        .value-compare {
          font-weight: 400;
        }
      }

      .card-serie {
        width: 100%;
        height: 40%;
        position: absolute;
        top: 60%;
      }
    }
  }
}
