@import "widget_value";
@import "widget_location";
@import "widget_table";
@import "widget_refresh";

.layout.light .react-grid-item {
  color: #555;
  border: 1px solid #f4f5f8;
  background-color: #fbfbfb;
}

.layout.dark .react-grid-item {
  color: #d8d9da;
  background-color: #1f1d1d;
  border: 1px solid #292929;

  .recharts-tooltip-wrapper {
    color: rgb(85, 85, 85);
  }

  &:hover > .react-resizable-handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  }
}

.react-resizable-handle {
  z-index: 999;
}

.widget {
  display: flex;
  flex-direction: column;
  height: 100%;

  .widget-title {
    flex: auto;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    cursor: pointer;

    &.locked {
      cursor: default;
    }
  }

  .widget-content {
    flex: auto;
    position: relative;
    height: calc(100% - 30px);

    h5 {
      height: 93%;
      display: inline-flex;
      align-items: center;
    }
  }
}
