@import "widget_value";
@import "widget_location";
@import "widget_table";
@import "widget_refresh";
@import "widget_chord";
@import "widget_route";
@import "widget_errors";

.layout.light .react-grid-item {
  color: #555;
  background-color: #fbfbfb;

  .material-icons {
    color: #555;
  }

  .widget {
    border: 1px solid #f4f5f8;
    .widget-info {
      .card-content .material-icons {
        color: #fbfbfb;
      }
    }

    &.transparent-bg {
      border: 0px;
      background-color: #fff;
    }
  }
}

.layout.dark .react-grid-item {
  color: #d8d9da;
  background-color: #1f1d1d;

  .recharts-tooltip-wrapper {
    color: rgb(85, 85, 85);
  }

  &:hover > .react-resizable-handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  }

  .material-icons {
    color: #d8d9da;
  }

  .widget {
    border: 1px solid #292929;

    &.no-content {
      .card, .card-reveal, .card-content {
        background-color: #1f1d1d;
      }
    }

    &.transparent-bg {
      border: 0px;
      background-color: #141414;
    }
  }
}

.react-resizable-handle {
  z-index: 999;
}

.widget {
  display: flex;
  flex-direction: column;
  height: 100%;

  .widget-title {
    flex: auto;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    cursor: pointer;

    &.locked {
      cursor: default;
    }

    .options {
      position: absolute;
      top: 0;
      right: 0;
    }

    .delete {
      display: inline-block;
      opacity: 0;
      vertical-align: top;
      margin: 2px;
    }

    .material-icons {
      font-size: 20px;
    }
  }

  &:hover .widget-title:not(.locked) .delete {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .widget-content {
    flex: auto;
    position: relative;
    height: calc(100% - 30px);

    h5 {
      height: 93%;
      display: inline-flex;
      align-items: center;
    }

    .widget-info {
      height: 100%;

      .card, .card-reveal, .card-content {
        background-color: transparent;
      }

      .card {
        height: 100%;
        margin: 0;
        box-shadow: none;

        .card-content {
          .info-corner {
            border-left: 50px solid #d75546;
            border-right: none;
            border-bottom: 50px solid transparent;
            width: 0;
            height: 0;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 900;
          }

          a.activator {
            top: 2px;
            left: 2px;
            z-index: 1000;
            position: absolute;
            cursor: pointer;
          }
        }

        .card-reveal {
          .card-title {
            font-size: 18px;
          }
        }
      }
    }
  }
}
