/* ================================================================== *
 *  MARGIN DIMENSIONS
 * ================================================================== */

$margin_small:    7px;
$margin_medium:   12px;
$margin_large:    17px;
$margin_xlarge:   22px;
