.menu-range {
  width: calc(10%);

  div.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .dropdown-content {
    top: 64px !important;
    width: 280px !important;
    overflow-y: visible;
    z-index: 1;
    opacity: 1;

    &.open {
      display: block !important;
      left: calc(100% - 300px);
    }

    &.close {
      display: none !important;

    }

    .cont {
      margin-top: 25px;

      .button-group {
        margin-bottom: 12px;
        user-select: none;

        .button-group-title {
          text-transform: uppercase;
          font-size: 12px;
          color: rgba($secondary-color, 0.5);
          margin-bottom: 5px;
          height: 20px;
          line-height: 20px;
        }

        .group-container {
          display: flex;

          li.group-member {
            background: #fff;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            min-height: 30px !important;
            line-height: 1rem !important;
            padding: 8px 2px 0 2px;
            box-shadow: 0 1px 1px 0 rgba(#000, 0.1);
            border: 1px solid rgba($secondary-color, 0.5);
            border-right: 0;

            &:last-child {
              border-right: 1px solid rgba($secondary-color, 0.5);
            }

            &.selected {
              box-shadow: inset 0 1px 1px 0 rgba(#000, 0.1);
              background: rgba($secondary-color, 0.2);
            }

            &:hover {
              border-color: rgba($secondary-color, 0.8);
            };

            &:not(.selected):not(:hover) {
              color: rgba($secondary-color, 0.9);
            }

            &.primary-color {
              color: #fff !important;
            }
          }
        }
      }

      .divider {
        margin: 10px 0px;
      }

      .date-range-input {
        display: flex;
        flex-direction: row;
        align-items: center;

        * {
          font-family: "Roboto", sans-serif;
        }

        &:first-child {
          margin-top: 30px;
        }

        .selected {
          background-color: $primary-color !important;
        }

        .header {
          color: rgba($primary-color, 0.71) !important;
        }

        .today {
          color: $primary-color;
          border: 1px solid;
          font-weight: 700;
          border-color: $primary-color;
          &.selected {
            color: white;
          }
        }

        .arrow:hover, .title:hover, div[class^="today-"]:hover {
          color: $primary-color !important;
          border-color: $primary-color;
        }

        .base:hover {
          background-color: rgba($primary-color, 0.71) !important;
          color: white;
        }

        .hours::-webkit-scrollbar-thumb {
          background-color: rgba($primary-color, 0.71) !important;
        }

        .label {
          width: 40px;
          min-width: 40px;
          text-align: right;
          color: rgba($secondary-color, 0.5);
          font-size: 13px;
          text-transform: uppercase;
          margin-right: 5px;
          height: 30px;
          line-height: 15px;
        }

        input {
          border: 1px solid rgba($secondary-color, 0.5);
          border-radius: 2px;
          box-shadow: inset 0 1px 1px rgba(#000, 0.13);
          margin-right: 2px;
          margin-left: 5px;
          width: 100%;
          height: 30px;
          font-family: "Roboto", sans-serif;

          &:hover {
            border-color: rgba($secondary-color, 0.4);;
          }

          &:focus {
            border-color: rgba($primary-color, 0.71);
          }
        }
      }
    }
  }
}
