.nav-wrapper {
  padding: 0 14px;

  &.logo {
    .brand-logo img {
      height: 48px;
      min-height: 48px;
      padding: 5px 0 0 14px;
    }
  }

  &.menu {
    .button-collapse {
      display: inline;
    }

    .side-nav {
      box-shadow: none;
      top: auto;
    }
  }

  .nav-entries {
    .nav-entry {
      display: flex;
      flex-direction: row;
      letter-spacing: .010em;
      padding: 0 6px;
      margin: 0 8px;

      .button-text {
        padding-right: 4px;
      }
    }
  }
}
