$primary-color: #f68d2e !default;
$secondary-color: #8c8c8c !default;

.primary-color {
  background-color: $primary-color !important;
}

.primary-color-text {
  color: $primary-color;
}

.orange.wizzie {
  background-color: #f68d2e;
}

.grey.wizzie {
  background-color: #8c8c8c;
}
