$primary-color: #f68d2e !default;
$secondary-color: #8c8c8c !default;

$white: #fff !default;
$content-color: #eee !default;

.primary-color-text {
  color: $primary-color;
}

.orange.wizzie {
  background-color: #f68d2e;
}

.grey.wizzie {
  background-color: #8c8c8c;
}
