<nav class="nav-extended">
  <div class="nav-wrapper logo white">
    <%= link_to root_path, class: 'brand-logo menu-smooth-scroll' do -%>
      <%= image_tag asset_path('logo.png') %>
    <% end -%>
  </div>
  <div class="nav-wrapper menu primary-color">
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <%= breadcrumbs separator: " &rsaquo; " %>
    <ul id="nav-mobile" class="side-nav margin-ts">
      <li><%= link_to 'Dashboards', dashboards_path %></li>
    </ul>
  </div>
</nav>
